SRCS    =       main.c tree.c io.c particle.c sfc.c parallel.c \
                cell_buffer.c iterators.c index_hash.c   \
                load_balance.c timestep.c density.c cosmology.c \
                tree_count.c tree_debug.c tree_alloc.c tree_interpolate.c tree_arrays.c \
                refinement.c refinement_indicators.c refinement_operations.c \
                timing.c tree_linkedlist.c hydro.c units.c riemann.c gravity.c \
                poisson.c auxiliary.c skiplist.c pack.c config.c logging.c \
		cooling.c starformation.c cache.c hydro_tracer.c top_level_fft.c

RT_CSRCS =	rt_solver.c rt_transfer.c rt_utilities.c rt_io.c rt_otvet.c rt_otvet_et.c rt_debug.c

RT_FSRCS  =	frt_base.F frt_cooling.F frt_cooling_solvers.F frt_io.F \
		frt_global.F frt_lwbands.F frt_spectrum.F frt_background.F \
		frt_tables.F frt_transfer.F frt_xrays.F frt_testing.F frt_mpi.F

EXT_SRCS  =	analysis.c analysis_xray.c viewdump.c start_analysis.c ifrit.c ism.c igm.c power.c los.c healpix.c halo_finder.c

ifdef NO_RT
OBJS    =	$(patsubst %.c,.obj/./%.o,$(SRCS))
HEADERS  =	$(patsubst %.c,$(SRC_DIR)/%.h,$(SRCS))
else
OBJS    =	$(patsubst %.c,.obj/./%.o,$(SRCS)) $(patsubst %.c,.obj/rt/%.o,$(RT_CSRCS)) $(patsubst %.F,.obj/rt/F/%.o,$(RT_FSRCS))
HEADERS  =	$(patsubst %.c,$(SRC_DIR)/%.h,$(SRCS)) $(patsubst %.c,$(SRC_DIR)/%.h,$(RT_CSRCS))
endif

EXT_OBJS = $(patsubst %.c,.obj/extra/%.o,$(EXT_SRCS))

LIBS    =       -lgsl -lgslcblas -lm -lsrfftw -lsfftw 

ifdef PLATFORM
include $(TOP_DIR)/platforms/$(PLATFORM)
.obj:
	mkdir .obj .obj/rt .obj/rt/F .obj/extra
else
.obj:
	@echo "A variable PLATFORM must be set. Available platforms:"
	@ls -m $(TOP_DIR)/platforms
	@cat $(TOP_DIR)/platforms >& /dev/null
endif

ifdef NO_RT
DEFS = defs.h
defs.h:	
	@echo "Configuration file defs.h must be set. Available templates:"
	@ls -1 $(TOP_DIR)/config
	@cat $(TOP_DIR)/platforms >& /dev/null
else
DEFS = defs.h rt_defs.h
defs.h:	
	@echo "Configuration files defs.h and rt_defs must be set. Available templates:"
	@ls -1 $(TOP_DIR)/config
	@cat $(TOP_DIR)/platforms >& /dev/null
rt_defs.h:	
	@echo "Configuration files defs.h and rt_defs must be set. Available templates:"
	@ls -1 $(TOP_DIR)/config
	@cat $(TOP_DIR)/platforms >& /dev/null
endif

.obj/./%.o: defs.h $(SRC_DIR)/%.c
	$(CC) -c $(CFLAGS) $(INCLUDES) -I. -I$(SRC_DIR) -o $@ $(SRC_DIR)/$(*F).c

.obj/rt/%.o: defs.h rt_defs.h $(SRC_DIR)/rt_config.h $(SRC_DIR)/%.c
	$(CC) -c $(CFLAGS) $(INCLUDES) -I. -I$(SRC_DIR) -o $@ $(SRC_DIR)/$(*F).c

.obj/rt/F/%.o: defs.h rt_defs.h $(SRC_DIR)/rt_config.h $(SRC_DIR)/F/%.F
	$(F77) -c $(FFLAGS) -I. -I$(SRC_DIR)/F -o $@ $(SRC_DIR)/F/$(*F).F


.obj/extra/%.o: defs.h $(SRC_DIR)/extra/%.c
	$(CC) -c $(CFLAGS) $(INCLUDES) -I. -I$(SRC_DIR) -o $@ $(SRC_DIR)/extra/$(*F).c
