
#define HYDRO
#define GRAVITY
#define COOLING
#define COSMOLOGY
#define PARTICLES
#define REFINEMENT
#define STAR_FORMATION
#define RADIATIVE_TRANSFER

#define ENRICHMENT
#define ENRICHMENT_SNIa

#define num_root_grid_refinements	<set value here>
#define num_refinement_levels		<set value here>
#define num_octs			<set value here>
#define num_particles		        <set value here>
#define num_star_particles              <set value here>

