
#define HYDRO
#define GRAVITY
#define COSMOLOGY
#define PARTICLES
#define REFINEMENT

#define num_root_grid_refinements	<set value here>
#define num_refinement_levels		<set value here>
#define num_octs			<set value here>
#define num_particles		        <set value here>

